cat 0.5.jpg
json_database.json
credentials2.json
hafiznig.py
idk.ipynb
index.html
pdf_content.txt
Screenshot 2024-12-29 191726.png
Screenshot 2024-12-29 211728.png
stethoscope.jpg
stethoscope2.jpg
tryfirebase.ipynb
upload.html
json_database.json
credentials.json
Food Images/BananaOat.png
Food Images/BeefStrip.png
Food Images/DryFruitsWithNuts.png
Food Images/fried_eggs.png
Food Images/FruitWithNuts.png
Food Images/Greek_Yogurt.png
Food Images/Pancakes.png
Food Images/PastaParmesanCheese.png
Food Images/Turkey_Sandwhich.png
Food Images/ProteinShake.png
image_links.txt
afzalcode.py
.gitignore
Test.csv
main.py
__pycache__/code_hafiz.cpython-311.pyc
phone_main.py
__pycache__/main.cpython-311.pyc
code_hafiz.py
__pycache__/main.cpython-311.pyc
__pycache__/phone_main.cpython-311.pyc
__pycache__/main.cpython-311.pyc
__pycache__/main.cpython-311.pyc
